<h1>Here are your current reservations:></h1>
<% if current_customer %>
	<% @restaurant.reservations.each do |reservation| %>
		<%= reservation.day %>, <%= reservation.time %>, <%= reservation.num_of_customers %>
	<% end %>
<% end %>

